<c:page-start title="Grid">
  <c:style>
    grid-col { background-color:silver; }
  </c:style>
</c:page-start>
<c:include prepend="<div class='container'>" template="bajoDemo:/partial/header.html" />
<h3><c:t>Grid</c:t></h3>
<hr />
<c:grid-row>
  <c:grid-col col="3"><c:t>One</c:t></c:grid-col>
  <c:grid-col col="4"><c:t>Two</c:t></c:grid-col>
  <c:grid-col col="2"><c:t>Three</c:t></c:grid-col>
  <c:grid-col col="3"><c:t>Four</c:t></c:grid-col>
</c:grid-row>
<c:include append="</div>" template="bajoDemo:/partial/footer.html" />
<c:page-end />
