<!DOCTYPE html>
<html lang="<%= _meta.lang %>">
  <head>
    <title><%= _meta.theme.name %></title>
  </head>
  <body>
    <c:include before="<div class='container'>">bajoDemo:/include/header.html</c:include>
    <h3><c:t>Buttons</c:t></h3>
    <hr />
    <h4><c:t>Variant</c:t></h4>
    <div>
      <c:btn variant="primary"><c:t>Primary</c:t></c:btn>
      <c:btn variant="secondary"><c:t>Secondary</c:t></c:btn>
      <c:btn variant="success"><c:t>Success</c:t></c:btn>
      <c:btn variant="warning"><c:t>Warning</c:t></c:btn>
      <c:btn variant="danger"><c:t>Danger</c:t></c:btn>
    </div>
    <h4><c:t>Size</c:t></h4>
    <div>
      <c:btn size="xs"><c:t t:value="extra-small">Size: %s</c:t></c:btn>
      <c:btn size="sm"><c:t t:value="small">Size: %s</c:t></c:btn>
      <c:btn size="md"><c:t t:value="medium">Size: %s</c:t></c:btn>
      <c:btn size="lg"><c:t t:value="large">Size: %s</c:t></c:btn>
      <c:btn size="xl"><c:t t:value="extra-large">Size: %s</c:t></c:btn>
    </div>
    <h4><c:t>State</c:t></h4>
    <div>
      <c:btn active><c:t value="active">State: %s</c:t></c:btn>
      <c:btn disabled><c:t value="disabled">State: %s</c:t></c:btn>
    </div>
    <h4><c:t>Group</c:t></h4>
    <div>
      <c:btn-group t:aria-label="Size: %s|t:extra-small">
        <c:btn icon="home" icon-end="home"><c:t>Button</c:t></c:btn>
        <c:btn><c:t>Button</c:t></c:btn>
        <c:btn active variant="primary"><c:t value="active">State: %s</c:t></c:btn>
      </c:btn-group>
    </div>
    <c:include after="</div>">bajoDemo:/include/footer.html</c:include>
  </body>
</html>
