<html>
  <head>
    <title><%= i18n.t('Icons') %></title>
  </head>
  <body>
    <c:include before="<div class='container'>">bajoDemo:/include/header.html</c:include>
    <h3><c:t>Icons</c:t></h3>
    <hr />
    <c:grid-row>
      <% for (const i of _.without(app.waibuMpa.mappingKeys, '_notFound')) { %>
        <c:grid-col size="sm:6 md:3 lg:2">
          <c:icon name="<%= i %>" /><br /><small><%= i %></small>
        </c:grid-col>
      <% } %>
    </c:grid-row>
    <c:include after="</div>">bajoDemo:/include/footer.html</c:include>
  </body>
</html>
