<p>Page:
  <% for(const page of ['button', 'heading', 'grid']) { %>
    <a href="<%= _meta.route.replace(':theme', _meta.theme).replace(':page', page) %>?lang=<%= _meta.lang %>">
      <% if (page === _meta.params.page) print('<strong>') %>
      <c:t><% print(_app.bajo.titleize(page)) %></c:t>
      <% if (page === _meta.params.page) print('</strong>') %>
    </a>
  <% } %>
</p>
<p>Theme:
  <% for(const theme of themes) { %>
    <a href="<%= _meta.route.replace(':theme', theme.name).replace(':page', _meta.params.page) %>?lang=<%= _meta.lang %>">
      <% if (theme.name === _meta.theme) print('<strong>') %>
      <% print(_app.bajo.titleize(theme.name)) %>
      <% if (theme.name === _meta.theme) print('</strong>') %>
    </a>
  <% } %>
</p>
<p>Language:
  <% for(const lang of ['id', 'en-US']) { %>
    <a href="<%= _meta.route.replace(':theme', _meta.theme).replace(':page', _meta.params.page) %>?lang=<%= lang %>">
      <% if (lang === _meta.lang) print('<strong>') %>
      <c:t><%= lang %></c:t>
      <% if (lang === _meta.lang) print('</strong>') %>
    </a>
  <% } %>
</p>
