<!DOCTYPE html>
<html lang="<%= _meta.lang %>">
  <head>
    <title><%= _meta.theme.name %></title>
  </head>
  <body>
    <h3><c:t>Headings</c:t></h3>
    <div>
      <h1><c:t value="1">Heading %d</c:t></h1>
      <h2><c:t value="2">Heading %d</c:t></h2>
      <h3><c:t value="3">Heading %d</c:t></h3>
      <h4><c:t value="4">Heading %d</c:t></h4>
      <h5><c:t value="5">Heading %d</c:t></h5>
      <h6><c:t value="6">Heading %d</c:t></h6>
    </div>
    <hr />
    <h3><c:t>Buttons</c:t></h3>
    <h4><c:t>Variant</c:t></h4>
    <div>
      <c:btn variant="primary"><c:t>Primary</c:t></c:btn>
      <c:btn variant="secondary"><c:t>Secondary</c:t></c:btn>
      <c:btn variant="success"><c:t>Success</c:t></c:btn>
      <c:btn variant="warning"><c:t>Warning</c:t></c:btn>
      <c:btn variant="danger"><c:t>Danger</c:t></c:btn>
    </div>
    <h4><c:t>Size</c:t></h4>
    <div>
      <c:btn size="xs"><c:t t:value="extra-small">Size: %s</c:t></c:btn>
      <c:btn size="sm"><c:t t:value="small">Size: %s</c:t></c:btn>
      <c:btn size="md"><c:t t:value="medium">Size: %s</c:t></c:btn>
      <c:btn size="lg"><c:t t:value="large">Size: %s</c:t></c:btn>
      <c:btn size="xl"><c:t t:value="extra-large">Size: %s</c:t></c:btn>
    </div>
    <h4><c:t>State</c:t></h4>
    <div>
      <c:btn active><c:t value="active">State: %s</c:t></c:btn>
      <c:btn disabled><c:t value="disabled">State: %s</c:t></c:btn>
    </div>
  </body>
</html>
