<h3>Card</h3>
{% cmp 'container', fluid=true %}
  {% cmp 'row' %}
    {% cmp 'column' %}
      <h6>Image</h6>
      {% cmp 'card' %}
        {% cmp 'cardImage', src='holder.js/200x100?auto=yes' %}{% endcmp %}
        {% cmp 'cardBody' %}
          {% cmp 'cardTitle' %}Card Title{% endcmp %}
          {% cmp 'cardSubtitle' %}Card Subtitle{% endcmp %}
          {% cmp 'cardText' %}Some quick example text to build on the card title and make up the bulk of the card's content{% endcmp %}
          {% cmp 'cardLink' %}Card Link 1{% endcmp %}
          {% cmp 'cardLink' %}Card Link 2{% endcmp %}
        {% endcmp %}
      {% endcmp %}
    {% endcmp %}
    {% cmp 'column' %}
      <h6>List Group</h6>
      {% cmp 'card' %}
        {% cmp 'cardHeader' %}Featured{% endcmp %}
        {% cmp 'listGroup', options=['An item', { active: true, caption: 'A second item' }, { caption: 'A third item' }] %}{% endcmp %}
      {% endcmp %}
    {% endcmp %}
  {% endcmp %}
{% endcmp %}
