<h3>Grid System</h3>
{% cmp 'container', fluid=true %}
  {% cmp 'row' %}
    {% cmp 'col' %}
      {% cmp 'container', fluid=true, text='center' %}
        {% cmp 'row' %}
          {% cmp 'col', border='primary' %}Column 1{% endcmp %}
          {% cmp 'col', border='primary' %}Column 2{% endcmp %}
          {% cmp 'col', border='primary' %}Column 3{% endcmp %}
        {% endcmp %}
      {% endcmp %}
    {% endcmp %}
    {% cmp 'column ' %}
      {% cmp 'container', fluid=true, text='center' %}
        {% cmp 'row' %}
          {% cmp 'col', border='primary' %}1 of 2{% endcmp %}
          {% cmp 'col', border='primary' %}2 of 2{% endcmp %}
        {% endcmp %}
        {% cmp 'row' %}
          {% cmp 'col', border='primary' %}1 of 3{% endcmp %}
          {% cmp 'col', border='primary' %}2 of 3{% endcmp %}
          {% cmp 'col', border='primary' %}3 of 3{% endcmp %}
        {% endcmp %}
      {% endcmp %}
    {% endcmp %}
  {% endcmp %}
  {% cmp 'row' %}
    {% cmp 'col' %}
      <h6>Setting one column width</h6>
      {% cmp 'container', fluid=true, text='center' %}
        {% cmp 'row' %}
          {% cmp 'col', border='primary' %}1 of 3{% endcmp %}
          {% cmp 'col', border='primary', width=6 %}2 of 3 (wider){% endcmp %}
          {% cmp 'col', border='primary' %}3 of 3{% endcmp %}
        {% endcmp %}
        {% cmp 'row' %}
          {% cmp 'col', border='primary' %}1 of 3{% endcmp %}
          {% cmp 'col', border='primary', width=5 %}2 of 3 (wider){% endcmp %}
          {% cmp 'col', border='primary' %}3 of 3{% endcmp %}
        {% endcmp %}
      {% endcmp %}
    {% endcmp %}
    {% cmp 'col' %}
      <h6>Variable width content</h6>
      {% cmp 'container', text='center' %}
        {% cmp 'row', class='justify-content-md-center' %}
          {% cmp 'col', border='primary', sizing='large', width=2 %}1 of 3{% endcmp %}
          {% cmp 'col', border='primary', sizing='medium', width='auto' %}variable width content{% endcmp %}
          {% cmp 'col', border='primary', sizing='large', width=2 %}3 of 3{% endcmp %}
        {% endcmp %}
        {% cmp 'row' %}
          {% cmp 'col', border='primary' %}1 of 3{% endcmp %}
          {% cmp 'col', border='primary', sizing='medium', width='auto' %}variable width content{% endcmp %}
          {% cmp 'col', border='primary', sizing='large', width=2 %}3 of 3{% endcmp %}
        {% endcmp %}
      {% endcmp %}
    {% endcmp %}
  {% endcmp %}
  {% cmp 'row' %}
    {% cmp 'col' %}
      <h6>Mix and match</h6>
      {% cmp 'container', text='center' %}
        {% cmp 'row' %}
          {% cmp 'col', border='primary', sizing='medium', width=8 %}col-md-8{% endcmp %}
          {% cmp 'col', border='primary', columns=[':6', 'medium:4'] %}col-6 col-md-4{% endcmp %}
        {% endcmp %}
        {% cmp 'row' %}
          {% cmp 'col', border='primary', columns=[':6', 'medium:4'] %}col-6 col-md-4{% endcmp %}
          {% cmp 'col', border='primary', columns=[':6', 'medium:4'] %}col-6 col-md-4{% endcmp %}
          {% cmp 'col', border='primary', columns=[':6', 'medium:4'] %}col-6 col-md-4{% endcmp %}
        {% endcmp %}
        {% cmp 'row' %}
          {% cmp 'col', border='primary', width=6 %}col-6{% endcmp %}
          {% cmp 'col', border='primary', width=6 %}col-6{% endcmp %}
        {% endcmp %}
      {% endcmp %}
    {% endcmp %}
    {% cmp 'col' %}
      <h6>Row columns</h6>
      {% cmp 'container', text='center' %}
        {% cmp 'row', width=4 %}
          {% cmp 'col', border='primary' %}column{% endcmp %}
          {% cmp 'col', border='primary' %}column{% endcmp %}
          {% cmp 'col', width=6, border='primary' %}column{% endcmp %}
          {% cmp 'col', border='primary' %}column{% endcmp %}
        {% endcmp %}
      {% endcmp %}
    {% endcmp %}
  {% endcmp %}
  {% cmp 'row' %}
    {% cmp 'col' %}
      <h6>Row columns (multi)</h6>
      {% cmp 'container', text='center' %}
        {% cmp 'row', columns=[':1', 'small:2', 'medium:4'] %}
          {% cmp 'col', border='primary' %}column{% endcmp %}
          {% cmp 'col', border='primary' %}column{% endcmp %}
          {% cmp 'col', border='primary' %}column{% endcmp %}
          {% cmp 'col', border='primary' %}column{% endcmp %}
        {% endcmp %}
      {% endcmp %}
    {% endcmp %}
    {% cmp 'col' %}
      <h6>Nested</h6>
      {% cmp 'container', text='center' %}
        {% cmp 'row' %}
          {% cmp 'col', border='primary', sizing='small', width=3 %}Level 1: .col-sm-3{% endcmp %}
          {% cmp 'col', border='primary', sizing='small', width=9 %}
            {% cmp 'row' %}
              {% cmp 'col', border='primary', columns=[':8', 'small:6'] %}Level 2: .col-8 .col-sm-6{% endcmp %}
              {% cmp 'col', border='primary', columns=[':4', 'small:6'] %}Level 2: .col-4 .col-sm-6{% endcmp %}
            {% endcmp %}
          {% endcmp %}
        {% endcmp %}
      {% endcmp %}
    {% endcmp %}
  {% endcmp %}
{% endcmp %}
